@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NAGP_Q4_Devops</h1>
    <p class="lead">Q4 exam jenkins assignment.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dependent Project</h2>
        <p>
            This is the dependent project (Project A) which depends on core project, Project B
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jenkins Integration</h2>
        <p>Both are integrated via Jenkins.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prateek Varshney (3337)</h2>
        <p>Please contact me for more info.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>